@{
    ViewData["Title"] = "Dashboard";
}

<div class="mb-4">
    <h1 class="h3 mb-0 text-gray-800">Expense Dashboard</h1>
    <p class="text-muted">Overview of your expenses</p>
</div>


<!-- Container utama yang akan diisi oleh AJAX -->
<div id="dashboard-container">
    <!-- Di sini kita tampilkan Skeleton mentah dulu -->
    <div id="skeleton-placeholder">
        <partial name="_Skeleton" />
    </div>
</div>

@section Scripts {
    <script src="~/js/dashboard.js" asp-append-version="true"></script>
}